.htmlv {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 0;
  visibility: hidden;

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    position: relative;
    box-sizing: border-box;
    background-color: #383838;
    padding: 30px;
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &__textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    background-color: #b0b0b0;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    resize: none;
  }

  &__copy-button {
    appearance: none;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background: #fff;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }

  &__close-button {
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    padding: 0;
    border: none;
    background: transparent;
    appearance: none;
    cursor: pointer;
  }
}
